{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero Wiki</title>
    <link rel="stylesheet" href="../statics/style.css">
    <link rel="shortcut icon" href="superheroes-comic-book.png" type="image/x-icon">
</head>
<body>
<header>
    <h1>Seja bem-vindo ao Hero Wiki</h1>
    <h5>A maior plataforma online de informações do mundo heróico!</h5>
</header>
<nav>
    <a href="">Home</a>
    <a href="">Heróis</a>
    <a href="">Habilidades</a>
    <a href="">Universos</a>
</nav>
<section></section>
<aside></aside>
<footer>
    <div>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
</footer>
</body>
</html>