{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero Wiki</title>
    <link rel="stylesheet" href="../statics/style.css">
    <link rel="shortcut icon" href="superheroes-comic-book.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Ranga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>Seja bem-vindo ao Hero Wiki</h1>
    <h5>A maior plataforma online de informações do mundo heróico!</h5>
</header>
<nav>
    <button><a href="">Home</a></button>
    <button><a href="">Heróis</a></button>
    <button><a href="">Habilidades</a></button>
    <button><a href="">Universos</a></button>
</nav>
<section></section>
<aside>
    <div>
        <h3>Faça seu login</h3>
        <input type="email" placeholder="Digite seu e-mail" name="" id="">
        <input type="password" placeholder="Digite sua senha" name="" id="">
        <button>Entrar</button>
    </div>
</aside>
<footer>
    <div>
        <img src="facebook.png" alt="Logo do facebook">
        <img src="instagram.png" alt="Logo do instagram">
        <img src="youtube.png" alt="Logo do youtube">
    </div>
</footer>
</body>
</html>