body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                         'navbar navbar navbar navbar'
                         'section section aside aside'
                         'footer footer footer footer';
    grid-template-rows: 30vh 10vh 100vh 25vh;
}

header{
    grid-area: header;
    background-image: url(header.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

header h1{
    font-family: 'Ranga', cursive;
    font-size: 34pt;
    justify-content: center;
    align-items: center;
}

header h5{
    font-family: 'Mansalva', cursive;
    font-size: 20pt;
}

nav{
    grid-area: navbar;
    background-image: url(e8f7ff8a-be43-4d8d-af83-2c5a32e07732.jpeg);
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

nav button{
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
}

nav button:hover{
    background-color: black;
    color: white;
}

nav button a{
    color: white;
    font-size: 20pt;
    text-decoration: none;
    cursor: pointer;

}

section{
    grid-area: section;
    background-color:green;
}

aside{
    grid-area: aside;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

aside div{
    background-image: url(70s\ SUN\ ART\ PRINT\ is\ the\ best\ way\ to\ banish\ those\ blank\ walls\ and\ bring\ art\ to\ your\ space_\ All\ posters\ are\ giclée-printed\ on\ archival\,\ acid-free\ paper\ for\ sharp\,\ high-quality\ images\ and\ super\ vibrant\ colors.\ 📣DEAL\ ALERT📣\ To\ get\ 15%\ off.\ 24x36\ large);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 50px;
    padding: 15px;
}

aside div input{
    border: none;    
    border-bottom: 2px black solid;
    cursor: pointer;
    height: 30px;
}

aside div button{
    cursor: pointer;
    height: 30px;
}

footer{
    grid-area: footer;
    background-color: forestgreen;
}

footer div{
    background-color: forestgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

footer div img{
    height: 50px;
    width: 50px;
}